.nav {
    grid-area: n;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.item {
    padding: 20px 15px;
    border-bottom: 1px solid #efefef;
}

.item a {
    color: #6d6e71;
    text-decoration: none;
    padding: 10px;
}

.item a:hover {
    padding-bottom: 10px;
    text-decoration: underline;
    color: #27aae1;
}

.item a.activeLink {
    color: #8dc63f;
}


