.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding-top: 20px;
}

.dialogsItems {
    padding: 20px;
    border-right: 2px solid #efefef;
}

.dialogsItems .dialog {
    padding-top: 15px;
}


.messages {
    position: relative;
    padding: 20px 30px 40px 40px;
}

.addMessage {
    margin-top: 30px;
}

.addMessage textarea {
}

